{
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "mocha": true
    },
    "rules": {
        "strict": 0,
        "quotes": [2, "single", "avoid-escape"],
        "no-else-return": 2,
        "no-underscore-dangle": 2
    }
}
